node_modules/
logs/
lib/
dist/
config.json
count.json
yarn.lock
package-lock.json

npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

test.js
*.png
data
/index.js
/pm2.json
1.js
2.js

.env
